{% extends 'base/base_organ.html' %}
{% block title %}User List{% endblock title %}
{% block breadcrumb %}User List{% endblock breadcrumb %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-5">
                            <h5>User List</h5>
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <form class="form-inline ml-3" action="{% url 'organ:search-event' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="input-group input-group-sm">
                                      <input class="form-control form-control-navbar" name="search" type="search" placeholder="Search" aria-label="Search">
                                      <div class="input-group-append">
                                        <button class="btn btn-navbar" type="submit">
                                          <i class="fas fa-search"></i>
                                        </button>
                                      </div>
                                    </div>
                                  </form>
                                <a class="btn" onclick="listView()"><i class="fa fa-bars"></i> List</a> 
                                <a class="btn active" onclick="gridView()"><i class="fa fa-th-large"></i> Grid</a>
                                <a class="btn btn-success" href="{% url 'organ:add_user' %}">Create New User</a>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="card-body">
                      <table id="myTable" class="table table-striped table-bordered datatable dataTable no-footer"   role="grid" aria-describedby="DataTables_Table_0_info" style="border-collapse: collapse !important">
                        <thead>
                            <tr role="row">
                                <th>#</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Staff</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                              <tr>
                                  <td>{{ forloop.counter }}</td>
                                  <td>{{ user.username }}</td>
                                  <td>{{ user.email }}</td>
                                  <td {% if user.is_staff == True %} 
                                  style="color: #4dff4d;font-weight: bold;text-align: center; vertical-align: middle;"
                                   {% elif user.is_staff == False %} 
                                   style="color: #3385ff;font-weight: bold;text-align: center; vertical-align: middle;"
                                    {% endif %}>
                                    {{ user.is_staff }}
                                  </td>
                                  
                                  <td>
                                       <a class="btn btn-info" href="{% url 'organ:edit_user' user.pk %}" title="edit">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                      <a class="btn btn-danger" href="{% url 'organ:delete_user' user.pk %}" title="delete">
                                          <i class="fa fa-trash"></i>
                                      </a> 
                                  </td>
                              </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extrascript %}
{% endblock extrascript %}